{% extends 'main/home.html' %}
{% load static %}

{% block title %}ShiftLab Анализ тональности текста{{ title }}{% endblock %}

{% block content1 %}

<body>

    <!-- *********  Main part – headline ********** -->


        <div id="main_part_inner">
            <div id="main_part_inner_in">

            <h2>About us</h2>

            <div class="button_main">
                <a href="download.html" class="button_dark">DOWNLOAD</a>
            </div>

            </div>

        </div>

<div>
    <h1>В разработке</h1>
</div>

</body>

{% endblock content1 %}
