{% extends 'main/layout.html' %}

{% block title %}Информация{% endblock %}

{% block content %}
<div class="features">
    <h1>Информация</h1>
    <p>Данный ресурс предназначен для бесплатного анализа текста на его тональность. После загрузки текста, нейросеть его обработает и выдаст результат.</p>
    <button class="btn btn-danger">Написать отзыв</button>
</div>
{% endblock %}



        <h3>We are here to serve you</h3>

        <a href="#" class="services_list">
            <span class="ico_paperplane"><b>Making absolutely amazing paperplanes</b></span>
        </a>

        <a href="#" class="services_list">
            <span class="ico_iphone"><b>Creating the best mobile apps ever!</b></span>
        </a>

        <a href="#" class="services_list">
            <span class="ico_food"><b>Didn’t expect cooking? Well you should have!</b></span>
        </a>

        <a href="#" class="services_list">
            <span class="ico_message"><b>Clicking, double-clicking, sending e-mails, ...</b></span>
        </a>

        <a href="#" class="services_list">
            <span class="ico_mapmark" style="padding-top: 30px;"><b>Finding Nemo</b></span>
        </a>

        <a href="#" class="services_list">
            <span class="ico_shop"><b>Making outstanding e-commerce websites</b></span>
        </a>